
/* TITRES */

.title {
    color: var(--dark);
    margin-bottom: 15px;
}

.subtitle {
    color: #777;
    font-size: 15px;
}

/* BOUTONS */

/* Bouton principal */
.btn {
    border: none;
    padding: 12px 22px;
    border-radius: var(--radius-md);
    cursor: pointer;
    transition: var(--transition);
    font-weight: bold;
}

.btn-primary {
    background: var(--primary);
    color: white;
}

.btn-primary:hover {
    background: #cf6550;
}

/* Bouton secondaire */
.btn-secondary {
    background: var(--secondary);
    color: white;
}

.btn-secondary:hover {
    background: #55653d;
}

/* Bouton outline */
.btn-outline {
    border: 2px solid var(--primary);
    background: transparent;
    color: var(--primary);
}

.btn-outline:hover {
    background: var(--primary);
    color: white;
}


/* INPUTS */

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input {
    padding: 12px;
    border: 1px solid var(--gray);
    border-radius: var(--radius-md);
    outline: none;
    transition: var(--transition);
}

.input:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(225,120,100,0.2);
}

/* CARTES */
.card {
    background: white;
    border-radius: var(--radius-lg);
    padding: 20px;
    box-shadow: var(--shadow-sm);
    transition: var(--transition);
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow-md);
}

/* BADGES */

.badge {
    padding: 6px 12px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: bold;
}

.badge-success {
    background: #E8F5E9;
    color: #2E7D32;
}

.badge-warning {
    background: #FFF3E0;
    color: #EF6C00;
}

/* TABLEAUX */
.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: var(--radius-md);
    overflow: hidden;
}

.table th {
    background: var(--primary);
    color: white;
    padding: 15px;
}

.table td {
    padding: 15px;
    border-bottom: 1px solid #eee;
}